---main---
<div class="body">
    <div class="setting">
  
    </div>
    <div class="menu">
    
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="botton">
        -- show info web
    </div>
</div>
